td {
    white-space: nowrap;
    min-width: 100px;
}

th {
    min-width: 100px;
    white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}