<nav class="navbar navbar-expand justify-content-between d-md-flex d-block">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['customers']">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['projects']">Projects</a>
      </li>
    </ul>
    <hr class="d-block d-md-none" />
    <div *ngIf="user;then authenticated; else notAuthenticated"></div>
    <ng-template #authenticated>
      <div>
        Welcome, {{ user?.firstname }}
        <button class="btn btn-link btn-sm" (click)="logOut()">Disconnect</button>
      </div>
    </ng-template>
    <ng-template #notAuthenticated>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['register']">Register</a>
        </li>
      </ul>
    </ng-template>
  </nav>
  <hr style="margin: 10px;" />